body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
}
h1{
    text-align: center;
}
h2{
    margin: 0;
}
.maca{
    background-color: black;
    color: #a11d21;
    padding: 20px;
    border-radius: 4px;
}
span{
    color: antiquewhite;
}
.melancia{
    background-color: black;
    color: #3b612a;
    padding: 20px;
    border-radius: 4px;
}
.maca, .melancia{
    margin: 20px;
}
a{
    background-color: yellow;
    border-radius: 999px;
    padding: 10px;
    display: inline-block;   
    
    text-decoration: none;

}